
body {
  margin: 0;
  background-image: url('../images/coffee-beans.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid { max-width: 1200px; }


.fas {
  color: #fff;
}

.big-icon {
  margin-top: 0px;
  font-size: 550px;
}

.hand {
  width: 50%;
  height: 6px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}
