
body {
  margin: 0;
  background-image: url('../images/coffee-beans.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid { max-width: 1200px; }

.fas {
  color: #fff;
}

.big-icon {
  font-size: 650px;
  /* position: absolute; */
  z-index: 1;
}

.clock {
  /* position: absolute; */
  z-index: 2;
}

.hand {
  length: 25%;
  width: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: ease-in-out;
}

.hour-hand {
  background: black;
  height: 6px;
}

.min-hand {
  background: black;
  height: 6px;
}

.second-hand {
  background: orange;
  height: 3px;
}
